@use '../../app.component.scss';

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    width: 100%;
    margin: 0 auto;
  }
  
  @media (max-width: 992px) {
    .main-content {
      flex-direction: column;
    }
  }