<div class="flex items-center justify-between p-5 h-[20%] w-full bg-[#F9FAFB] mt-3 rounded-[10px]">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center text-sm font-medium text-[#656F84] hover:text-[#7A499D] dark:text-[#656F84] dark:hover:text-[#7A499D] hover:font-semibold">
          Identify Drivers
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <img src="../../../assets/icons/forwardGray.svg" class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" alt="">
          <a href="#" class="ms-1 text-sm font-medium text-[#656F84] hover:text-[#7A499D] dark:text-[#656F84] dark:hover:text-[#7A499D] hover:font-semibold">Drivers</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <img src="../../../assets/icons/forwardGray.svg" class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" alt="">
          <span class="ms-1 text-sm font-medium md:ms-2 bg-[#F3E8FF] p-1 pr-2 pl-2 text-[#7A499D] font-semibold">Goal</span>
        </div>
      </li>
    </ol>
  </nav>
  <div class="flex gap-x-3 w-[50%] justify-end">
    <button (click)="onCancel()" class="w-[20%] h-auto py-2 border border-[#E5E7EB] bg-[#FFFFFF] rounded-[4px] text-black text-sm cursor-pointer hover:bg-[#7A499D] hover:text-white">
      Cancel
    </button>
    <button class="w-[33%] h-auto py-2 border border-[#E5E7EB] bg-[#FFFFFF] rounded-[4px] text-sm cursor-pointer hover:bg-[#7A499D] hover:text-white">
      Save Drivers
    </button>
  </div>
</div>

  <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 mt-3">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2" *ngFor="let tab of tabs">
        <button 
          (click)="activeTab = tab.key"
          [ngClass]="activeTab === tab.key 
            ? 'text-[#0D0D12] border-[#7A499D]' 
            : 'border-transparent text-gray-500 hover:text-[#0D0D12] hover:border-[#7A499D]'"
          class="inline-block p-4 border-b-2 rounded-t-lg cursor-pointer">
          {{ tab.label }}
        </button>
      </li>
    </ul>
  </div>

  <div class="width-full mt-3">
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <img src="../../../assets/icons/search.svg" class="w-4 h-4" alt="">
      </div>
      <input 
      type="search" 
      id="search-input"
      class="block w-full p-3 ps-10 text-sm text-black border border-[#E5E7EB] rounded-[4px] bg-[#FFFFFF] 
             focus:outline-none focus:ring-0 focus:border-[#E5E7EB] placeholder-[#9CA3AF]" 
      placeholder="Search drivers..."
    />
    </div>
  </div>

  <h2 class="text-lg font-semibold text-gray-700 Smallfont flex gap-x-3 items-center mt-5">
    Available Drivers
  </h2>
  <div class="w-full border-b border-[#E5E7EB] mt-2"></div>

  <div *ngFor="let item of accordionData; let i = index" 
  class="rounded-md transition-all duration-300 overflow-hidden mt-3 w-full h-full"
  [ngClass]="{ 'bg-[#F9FAFB] h-auto': item.isOpen, 'bg-[#FFFFFF] border border-[#E5E7EB]': !item.isOpen }">

<div class="p-4">
 <div class="flex items-center justify-between cursor-pointer" (click)="toggleAccordion(i)">
    <div class="flex gap-x-3">
   <h4 class="text-md font-semibold Smallfont flex items-center">{{ item.title }}</h4>
   <ng-container *ngFor="let tag of item.btn">
    <button 
      class="flex justify-between items-center w-auto p-1 rounded-full text-xs font-semibold pr-2 pl-2"
      [ngStyle]="{'background-color': tag.bg, 'color': tag.color}">
      {{ tag.label }}
    </button>
  </ng-container>
   </div>
   <button type="button" class="flex justify-center items-center cursor-pointer focus:outline-none w-9 h-9"
     [ngClass]="item.isOpen ? 'bg-[#7A499D] rounded-[4px]' : 'bg-[#F3F4F6] rounded-[4px]'">
     <img *ngIf="!item.isOpen" src="../../../assets/icons/add.svg" class="w-3 h-3" alt="Expand" />
     <img *ngIf="item.isOpen" src="../../../assets/icons/minus.svg" class="w-3 h-3" alt="Collapse" />
   </button>
 </div>

 <div *ngIf="item.isOpen" class="pt-1">
   <p class="text-sm text-[#656F84] w-[76%]">
     Businesses muted underlying of great. Parking cloud gmail boardroom about net more group ipsum. 
     Food crank create roll give stand shelf-ware these teeth.
   </p>
   <h6 class="text-sm text-[#7A499D] mt-3 font-semibold Smallfont flex items-center">Relationship Properties:</h6>
   <div class="w-full border-b border-[#E5E7EB] mt-2"></div>

    <div class="flex flex-row justify-between mt-3">
        <div class="w-[45%]">
        <label for="strengthSelect1" class="block mb-2 text-sm font-semibold text-[#656F84]">Influence Strength</label>
        <select 
          id="strengthSelect1" 
          class="bg-white border border-gray-300 text-black text-sm rounded-[4px] 
                 focus:outline-none focus:ring-0 focus:border-gray-300 block w-full p-2.5"
          [(ngModel)]="selectStrength1"
          name="strength1"
        >
          <option *ngFor="let priority of priorities" [value]="priority.code">
            {{ priority.name }}
          </option>
        </select>
      </div>
       <div class="w-[45%]">
        <label for="strengthSelect2" class="block mb-2 text-sm font-semibold text-[#656F84]">Influence Strength</label>
        <select 
          id="strengthSelect2" 
          class="bg-white border border-gray-300 text-black text-sm rounded-[4px] 
                 focus:outline-none focus:ring-0 focus:border-gray-300 block w-full p-2.5"
          [(ngModel)]="selectstrength2"
          name="strength2"
        >
          <option *ngFor="let strength of strength" [value]="strength.code">
            {{ strength.name }}
          </option>
        </select>
       </div>
     </div>

   <div class="flex flex-row justify-between mt-3">
    <div class="w-[45%]">
        <label for="confidencelevel" class="block mb-2 text-sm font-semibold text-[#656F84]">Confidence Level</label>
        <select 
          id="confidencelevel" 
          class="bg-white border border-gray-300 text-black text-sm rounded-[4px] 
                 focus:outline-none focus:ring-0 focus:border-gray-300 block w-full p-2.5"
          [(ngModel)]="selectconfidence"
          name="confidence"
        >
          <option *ngFor="let priority of priorities" [value]="priority.code">
            {{ priority.name }}
          </option>
        </select>
      </div>
      <div class="w-[45%]">
        <label for="priority" class="block mb-2 text-sm font-semibold text-[#656F84]">Priority</label>
        <select 
          id="priority" 
          class="bg-white border border-gray-300 text-black text-sm rounded-[4px] 
                 focus:outline-none focus:ring-0 focus:border-gray-300 block w-full p-2.5"
          [(ngModel)]="selectPriority"
          name="priority"
        >
          <option *ngFor="let priority of priorities" [value]="priority.code">
            {{ priority.name }}
          </option>
        </select>
      </div>
</div>
 </div>
</div>
</div>


