<nav class="bg-[#5B2A7E] border-[#0D0D12] dark:bg-[#5B2A7E]">
  <div class="w-full flex flex-wrap xl:flex-nowrap items-center justify-between mx-auto py-4 2xl:px-6 px-3">
    
   
  <!-- Logo Section -->
    <div class="mb-4 xl:mb-0">
      <a  class="flex items-center space-x-3 rtl:space-x-reverse">
        <img
          src="./../../../assets/logo/github.png"
          class="h-9  xl:h-12"
          alt="Graph Logic Logo"
        />
      </a>
    </div>


     <div class="mb-4 xl:mb-0">
     <h1 class="text-white text-4xl">Assessment</h1>
    </div>


      <!-- User Dropdown -->
      <div class="relative">
        <button id="dropdownAvatarNameButton"
          class="flex items-center gap-2 bg-[#FFFFFF1A] rounded-full px-3 py-2 text-white text-xs xl:text-sm"
          type="button">
          <img class="w-5 h-5 xl:w-6 xl:h-6 rounded-full" src="../../../assets/avatar/profileImg.png" alt="user photo" />
          <svg class="w-2 h-2 xl:w-2.5 xl:h-2.5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>

        <div id="dropdownAvatarName"
          class="absolute hidden right-0 z-[41] mt-2 w-44 bg-white divide-y rounded-lg shadow text-sm">
          <div class="px-4 py-3 text-gray-900">
            <div class="font-medium">Pro User</div>
            <div class="truncate">Usama Zafar Awan</div>
          </div>
          <ul class="py-2 text-gray-700">
            <li><a  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">Dashboard</a></li>
            <li><a  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">Settings</a></li>
          </ul>
          <div class="py-2">
            <a routerLink="/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Sign out</a>
          </div>
        </div>
      </div>

  
  </div>
</nav>
