.fonts{
    font-family: 'Inter';
}
.secondaryfont{
    font-family: 'Epilogue', sans-serif;
}
.active-tab{
    color: white;
    background-color: #7A499D !important;

}
.active-tab svg path{
    stroke: white;
}